main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(189, 213, 213);
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
}

section:first-child {
  margin-bottom: 8px;
}

label {
  display: flex;
  align-items: center;
  font-size: 16px;
}

input {
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
}

input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid peru;
}

button {
  text-transform: uppercase;
  padding: 16px 32px;
  display: block;
  margin: 10px auto 0 auto;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
table {
  margin-bottom: 2em;
  width: 100%;
}
th {
  font-weight: bold;
  text-align: left;
}
td {
  border-bottom: 1px solid gray;
}

.TextField {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.TextField-error {
  color: red;
  font-size: 12px;
  display: block;
}
